src/test/resources/xsd/valid.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://ttdev.com/ss" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="concatRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="param1" type="xsd:string"/>
        <xsd:element name="param2" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="concatResponse">
    <xsd:complexType>
      <xsd:sequence maxOccurs="100" minOccurs="0" >
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="description" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
